<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.dhaval2404.sharedprefinspector">

    <application>

        <receiver android:name=".util.ClearDatabaseReceiver"/>

        <activity android:name=".screens.transaction.SharedPrefTransactionActivity" />

        <activity android:name=".screens.shared_pref_file_listing.SharedPrefFilesListingActivity" />

        <activity android:name=".screens.share_pref_listing.SharedPrefListingActivity" />

    </application>
</manifest>